<h1>tasks index</h1>

<%= link_to 'Log_out', destroy_user_session_path, method: :delete %>

<% @tasks.each do |task| %>
  <%= task.name %>
  <%= task.description %>
  <%= link_to 'Show', task_path(task) %>
<% end %>

<%= link_to 'New', new_task_path, class: 'btn btn-primary' %>